

.content {
  background-color: #edf0f5;
  padding-top: 1em;
  height: 100%;
}


.alert {
  margin-bottom: 0em !important;
}

.loading-icon {
  min-height: 10em;
  background: no-repeat center image_url("loading.svg");
  width: 100%;
}
