// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.station {
  padding: 1em 2em;
  margin: 2em;

  background-color: #fff;
  border-radius: 5px;

  .station-title {
    text-align: center;
  }

  .day-selector {

    text-align: right;
    float: right;

    span {
      padding: 12px;
      background-color: #ECF0F1;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .days-back {
      width: 40px;
      border-radius: 5px;
      border: 1px solid #ccc;
      text-align: center;
    }

    .change-days {
      background-color: #336E7B;
      padding: 4px 8px;
      color: #fff;
      border: none;
      border-radius: 5px;

      &:hover {
        background-color: #03C9A9;
      }
    }

  }
}


.tt-input, .tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow-y: auto;
    max-height: 200px;
}

.tt-suggestion {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}
