// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.station {
  padding: 1em 2em;
  margin: 2em;

  background-color: #fff;
  border-radius: 5px;

  .station-title {
    text-align: center;
  }

  .day-selector {

    text-align: right;
    float: right;

    span {
      padding: 12px;
      background-color: #ECF0F1;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .days-back {
      width: 40px;
      border-radius: 5px;
      border: 1px solid #ccc;
      text-align: center;
    }

    .change-days {
      background-color: #336E7B;
      padding: 4px 8px;
      color: #fff;
      border: none;
      border-radius: 5px;

      &:hover {
        background-color: #03C9A9;
      }
    }

  }
}
